START
JUMP MAIN
FNBinToInt:
PUSHN 4
PUSHI 0
STOREL 3
PUSHI 1
STOREL 4
PUSHL -1
STRLEN
STOREL 2
FOR0:
PUSHL 2
PUSHI 1
SUPEQ
JZ FORE1
PUSHL -1
PUSHL 2
PUSHI 1
SUB
CHARAT
STOREG 3
PUSHI 49
PUSHG 3
SWAP
EQUAL
JZ ELSE2
PUSHL 3
STOREG 3
PUSHL 4
PUSHG 3
SWAP
ADD
STOREL 3
JUMP ENDIF3
ELSE2:
ENDIF3:
PUSHL 4
STOREG 3
PUSHI 2
PUSHG 3
SWAP
MUL
STOREL 4
PUSHL 2
PUSHI -1
ADD
STOREL 2
JUMP FOR0
FORE1:
PUSHL 3
STOREL 1
PUSHL 1
STOREL 1
PUSHL 1
STOREG 2
RETURN
MAIN:
PUSHS "Introduza uma string binária:"
WRITES
WRITELN
READ
STOREG 0
PUSHG 0
PUSHA FNBinToInt
CALL
PUSHG 2
STOREG 1
PUSHS "O valor inteiro correspondente é: "
WRITES
PUSHG 1
WRITEI
WRITELN
STOP
