START
JUMP MAIN
MAIN:
PUSHI 5
ALLOCN
STOREG 0
PUSHI 0
STOREG 2
PUSHS "Introduza 5 números inteiros:"
WRITES
WRITELN
PUSHI 1
STOREG 1
FOR0:
PUSHG 1
PUSHI 5
INFEQ
JZ FORE1
READ
ATOI
STOREG 4
PUSHG 0
PUSHG 1
PUSHI 1
SUB
PUSHG 4
STOREN
PUSHG 2
STOREG 4
PUSHG 0
PUSHG 1
PUSHI 1
SUB
LOADN
PUSHG 4
SWAP
ADD
STOREG 2
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP FOR0
FORE1:
PUSHS "A soma dos números é: "
WRITES
PUSHG 2
WRITEI
WRITELN
STOP
